<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="nav nav-list" style="top: 0px;">
        <li class="">
            <a href="{{ path('admin_index') }}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Панель </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="{{ path('admin_personal_index') }}">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> Персонал </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="{{ path('admin_user_index') }}">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> Користувачі </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Меню </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu nav-hide" style="display: none;">
                <li class="">
                    <a href="{{ path('adm_dish_index') }}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Страви
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Категорії страв
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
           data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'collapsed')
        } catch (e) {
        }
    </script>
</div>