{% extends ':Admin:base.html.twig' %}
{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                {% if message %}
                    <h4>Редагування страви</h4>
                    <h3><b>{{ message }}</b></h3>
                    <a href="{{ path('admin_dish_edit', {'id': dish.id}) }}" class="btn btn-white btn-primary"
                       type="button"><b>повернутися до редагування</b></a>
                    <a href="{{ path('admin_dish_index') }}" class="btn btn-white btn-primary" type="button"><b>
                            перелік/редагування страв</b></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
