{% extends(':Admin:base.html.twig') %}
{% block content %}
    <p>
  <a href="{{ path('adm_list_dish') }}"><button class="btn btn-primary">Admin list/modify dishes</button></a>
  <a href="{{ path('adm_add_dish') }}"><button class="btn">Add new dish</button></a>
    </p>
{% endblock content %}
