{% extends(':Admin:base.html.twig') %}
{% block content %}
    <h3>Modify Dish</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Modify"
           class="btn btn-default" />
    {{ form_end(form) }}
    <br>
    <p><b>{{ msg }}</b></p>
{% endblock content %}
