{% trans_default_domain 'FOSUserBundle' %}
    <body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <img src="{{ asset('images/logo.png') }}" alt="logo">
                                <span class="red">Два</span>
                                <span class="grey" id="id-text2">Їжа</span>
                            </h1>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="signup-box" class="signup-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header header_title bigger ">
                                            <i class="ace-icon fa fa-users"></i>
                                            Зареєструватись
                                        </h4>

                                        <div class="space-6"></div>
                                        <p> Для продовження введіть: </p>

                                        <form name="fos_user_registration_form" method="post" class="fos_user_registration_register">
                                            <fieldset>
                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            <input class="form-control" type="email" id="fos_user_registration_form_email"
                                                                   name="fos_user_registration_form[email]"
                                                                   required="required">
                                                            <i class="ace-icon fa fa-envelope"></i>
														</span>
                                                </label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            <input class="form-control" type="text" id="fos_user_registration_form_username"
                                                                   name="fos_user_registration_form[username]"
                                                                   required="required" maxlength="255" pattern=".{2,}">
                                                            <i class="ace-icon fa fa-user"></i>
														</span>
                                                </label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            <input class="form-control" type="password"
                                                                   id="fos_user_registration_form_plainPassword_first"
                                                                   name="fos_user_registration_form[plainPassword][first]"
                                                                   required="required">
                                                            <i class="ace-icon fa fa-lock"></i>
														</span>
                                                </label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            <input class="form-control" type="password"
                                                                   id="fos_user_registration_form_plainPassword_second"
                                                                   name="fos_user_registration_form[plainPassword][second]"
                                                                   required="required">
                                                            <i class="ace-icon fa fa-retweet"></i>
														</span>
                                                </label>

                                                <label class="block">
                                                    <input type="checkbox" required class="ace"/>
														<span class="lbl">
															Я приймаю
															<a href="#">угоду користувача</a>
														</span>
                                                </label>
                                                <input type="hidden" id="fos_user_registration_form__token"
                                                       name="fos_user_registration_form[_token]"
                                                       value="{{ csrf_token('registration') }}">
                                                <div class="space-24"></div>

                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 reset_button">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">Стерти</span>
                                                    </button>
                                                    <button type="submit"
                                                            class="width-65 pull-right submit_button">
                                                        <span class="bigger-110">Зареєструватись</span>

                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <div class="toolbar center">
                                        <a href="{{ path('fos_user_security_login') }}" data-target="#login-box" class="back-to-login-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            Вхід
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.signup-box -->

                        </div><!-- /.position-relative -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->

    </body>
