<footer>
<div class="container">
    <div class="row">
        <!-- adresse1  -->
        <section class="adress col-xs-6 col-sm-4">
            <p>New York Restaurant</p>
            <p class="location">3926 Anmoore Road<br/>
                New York, NY 10014</p>
            <p class="phone">718-749-1714</p>
        </section>


        <!--  footer navigation  -->
        <section class="footer_nav col-xs-6 col-sm-4">
            <nav>
                <ul>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </section>

        <!--  footer copyrights  -->
        <section class="copyrights col-xs-12 col-sm-4">
            <div class="footer_logo col-xs-4 col-sm-12"><img src="/images/footer_logo.png"  alt="" title=""></div>
            <p class="col-xs-4 col-sm-12">© All Rights Reserved 2014.</p>
            <p class="col-xs-4 col-sm-12">Find  More at <a href="http://pixelhint.com" target="_blank">Pixelhint.com</a></p>
        </section>
    </div>
</div>
</footer>