<footer>
<div class="container">
    <div class="row">
        <!--  footer navigation  -->
        <section class="footer_nav">
            <nav>
                <ul>
                    <li><a href="{{ path('app_staticpage_show', {'route': 'about'}) }}">Про нас</a></li>
                    <li><a href="{{ path('app_staticpage_show', {'route': 'policy'}) }}">Угода користувача</a></li>
                    <li><a href="{{ path('app_staticpage_show', {'route': 'contacts'}) }}">Контакти</a></li>
                </ul>
            </nav>
        </section>

        <!-- address  -->
        <section class="adress col-xs-6">
            <p class="footer_info"> "Їжак" м. Черкаси
            <p>© 2016 - {{ "now"|date("Y") }}.</p>
        </section>

    </div>
</div>
</footer>