{% extends(':Front:base.html.twig') %}

{% block title%}ТУТ НАЗВА СТРАВИ{% endblock %}

{% block new_stylesheets %}
    <link href="{{ asset('css/flexslider.css') }}" rel="stylesheet"/>
{% endblock %}

{% block new_js %}
    <script src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
{% endblock %}

{% block content %}
     <div class="content-wrapper">

        {#Page label#}
        <section class="menu">
            <div class="container">
                <div class="row dish-info-wrapp">
                    <div class="col-sm-6">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="/images/dish1.jpg">
                                    <img src="/images/dish1.jpg" />
                                </li>
                                <li data-thumb="/images/dish2.jpg">
                                    <img src="/images/dish2.jpg" />
                                </li>
                                <li data-thumb="/images/dish3.jpg">
                                    <img src="/images/dish3.jpg" />
                                </li>
                                <li data-thumb="/images/dish4.jpg">
                                    <img src="/images/dish4.jpg" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="dish-info col-sm-6">
                        <div class="dish-info-head">
                            <h1>Fugiat nulla sint</h1>
                            <span class="price">130 грн</span>
                        </div>
                        <div class="ingridients">
                            Склад: <span class="ingrid">Свинина, свіжий огірок, яйце, помідор, сир, сметана</span>
                        </div>

                        <div class="description">
                            Свинина, свіжий огірок, яйце, помідор, сир, сметана Свинина, свіжий огірок, яйце, помідор, сир, сметана
                            Свинина, свіжий огірок, яйце, помідор, сир, сметана
                            Свинина, свіжий огірок, яйце, помідор, сир, сметана
                            Свинина, свіжий огірок, яйце, помідор, сир, сметанаСвинина, свіжий огірок, яйце, помідор, сир, сметана
                            Свинина, свіжий огірок, яйце, помідор, сир, сметана
                            Свинина, свіжий огірок, яйце, помідор, сир, сметана
                        </div>

                        <div>
                            <button class="addToCart">Замовити <i class="fa fa-cutlery"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">

            </div>
        </section>
</div>
{% endblock %}

{% block initialize_plagins %}
    <script>
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
{% endblock %}