{% extends('Front/base.html.twig') %}

{% block title %}Галерея страв{% endblock %}

{% block content %}

    <section class="menu">
        <div class="container">
            <div class="menu_title">
                <h2>Галерея</h2>
            </div>
            <section class="gallery">
                <div class="container">
                    {% for dish in dishPictList %}
                    <a href="{{ path('show_one_dish', {'slug': dish.slug }) }}">
                            <img src="{{ asset(dish.pictPath) | imagine_filter('thumb_367') }}"
                                 alt="{{ dish.name }}" title="{{ dish.name }}"/></a>
                    {% endfor %}
                </div>

            </section>
        </div>
    </section>
    <style>
        .grid-item {
            width: 425px;
            float: left;
        }

        .grid-item--width2 { width: 275px; }
    </style>

{% endblock %}
