{% extends(':Front:base.html.twig') %}

{% block title%}Замовлення{% endblock %}

{% block new_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
{% endblock %}


{% block content %}
<div class="content-wrapper">

    {#Page label#}
    <section class="menu">
        <div class="container">
            <div class="menu_title">
                <h2>Замовлення</h2>
            </div>
            <div class="container order_page">
                <form>
                <ul class="dish_list">
                    <li class="row">
                        <div class="img-wrapp col-xs-6 col-md-3">
                            <img src="/images/dish1.jpg" alt="">
                        </div>
                        <div class="dish_info col-xs-6">
                            <h2><a href="#">Борщ український з сметаною</a></h2>
                            <div class="ingridients">
                                 Склад: свинина, буряк, капуста, морква, фасоля, томатна паста, часнік, картопля.
                            </div>
                        </div>
                         <div class="order_info col-md-3">
                             <div class="count-wrapp col-xs-4">

                                    <div class="form-group">
                                        <input type="number" class="form-control" name="count" min="0" value="1">
                                    </div>

                             </div>
                             <span class="price col-xs-8">130 грн</span>
                         </div>
                        <div class="delete_position">
                            <i class="fa fa-times"></i>
                        </div>
                    </li>
                    <li class="row">
                        <div class="img-wrapp col-xs-6 col-md-3">
                            <img src="/images/dish1.jpg" alt="">
                        </div>
                        <div class="dish_info col-xs-6">
                            <h2><a href="#">Борщ український з сметаною</a></h2>
                            <div class="ingridients">
                                 Склад: свинина, буряк, капуста, морква, фасоля, томатна паста, часнік, картопля.
                            </div>
                        </div>
                         <div class="order_info col-md-3">
                             <div class="count-wrapp col-xs-4">

                                    <div class="form-group">
                                        <input type="number" class="form-control" name="count" min="0" value="1">
                                    </div>

                             </div>
                             <span class="price col-xs-8">130 грн</span>
                         </div>
                        <div class="delete_position">
                            <i class="fa fa-times"></i>
                        </div>
                    </li>
                    <li class="row">
                        <div class="img-wrapp col-xs-6 col-md-3">
                            <img src="/images/dish1.jpg" alt="">
                        </div>
                        <div class="dish_info col-xs-6">
                            <h2><a href="#">Борщ український з сметаною</a></h2>
                            <div class="ingridients">
                                 Склад: свинина, буряк, капуста, морква, фасоля, томатна паста, часнік, картопля.
                            </div>
                        </div>
                         <div class="order_info col-md-3">
                             <div class="count-wrapp col-xs-4">

                                    <div class="form-group">
                                        <input type="number" class="form-control" name="count" min="0" value="1">
                                    </div>

                             </div>
                             <span class="price col-xs-8">130 грн</span>
                         </div>
                        <div class="delete_position">
                            <i class="fa fa-times"></i>
                        </div>
                    </li>
                    <li class="row">
                        <div class="img-wrapp col-xs-6 col-md-3">
                            <img src="/images/dish1.jpg" alt="">
                        </div>
                        <div class="dish_info col-xs-6">
                            <h2><a href="#">Борщ український з сметаною</a></h2>
                            <div class="ingridients">
                                 Склад: свинина, буряк, капуста, морква, фасоля, томатна паста, часнік, картопля.
                            </div>
                        </div>
                         <div class="order_info col-md-3">
                             <div class="count-wrapp col-xs-4">

                                    <div class="form-group">
                                        <input type="number" class="form-control" name="count" min="0" value="1">
                                    </div>

                             </div>
                             <span class="price col-xs-8">130 грн</span>
                         </div>
                        <div class="delete_position">
                            <i class="fa fa-times"></i>
                        </div>
                    </li>
                    <li class="row">
                        <div class="img-wrapp col-xs-6 col-md-3">
                            <img src="/images/dish1.jpg" alt="">
                        </div>
                        <div class="dish_info col-xs-6">
                            <h2><a href="#">Борщ український з сметаною</a></h2>
                            <div class="ingridients">
                                 Склад: свинина, буряк, капуста, морква, фасоля, томатна паста, часнік, картопля.
                            </div>
                        </div>
                         <div class="order_info col-md-3">
                             <div class="count-wrapp col-xs-4">

                                    <div class="form-group">
                                        <input type="number" class="form-control" name="count" min="0" value="1">
                                    </div>

                             </div>
                             <span class="price col-xs-8">130 грн</span>
                         </div>
                        <div class="delete_position">
                            <i class="fa fa-times"></i>
                        </div>
                    </li>

                </ul>
                <input class="addToCart" type="submit" value="Підтвердити">
                </form>
            </div>
        </div>
    </section>

</div>
{% endblock %}