{% extends(':Front:base.html.twig') %}

{% block title%}Название страницы{% endblock %}

{% block content %}
<div class="content-wrapper">

    {#Page label#}
    <section class="menu">
        <div class="container">
            <div class="menu_title">
                <!--Коротко что бы влезло в флажок-->
                <h2>{{ page.title }}</h2>
            </div>
            {{ page.text }}
        </div>
    </section>
</div>
{% endblock %}