{% extends(':Front:base.html.twig') %}

{% block title%}Два їжа{% endblock %}

{% block new_stylesheets %}
    <link href="{{ asset('css/slick.css') }}" rel="stylesheet"/>
{% endblock %}

{% block new_js %}
    <script src="{{ asset('js/slick.min.js') }}"></script>
{% endblock %}

{% block content %}
<section class="menu">
    <div class="container">
        <div class="menu_title">
            <h2>Ваш профіль</h2>
        </div>
        <p  class="page_desc">На цій сторінці ви можете переглядати історію ваших замовлень та відстежувати їх поточний стан.</p>
        <ul class="order_history">
            <li class="row done">
                <div class="date cols-sm-3 col-md-3">
                    <div class="create_at"><div>Створен: </div>21.01.2016 10:30</div>
                    <div class="shipping_to"><div>Доставити до: </div>21.01.2016 12:30</div>
                </div>
                <ul class="dish_list col-md-4">
                    <li><a href="#">Борщ з м’ясом х3</a></li>
                    <li><a href="#">Салат олів’є х1</a></li>
                    <li><a href="#">Пюре з яловиченою х2</a></li>
                </ul>
                <div class="cost col-md-3">
                    250грн
                </div>
                <div class="status col-md-2">
                    Доставлено
                </div>
                <div class="delete_position">
                    <i class="fa fa-times"></i>
                </div>
            </li>
            <li class="row shipping">
                <div class="date cols-sm-3 col-md-3">
                    <div class="create_at"><div>Створен: </div>21.01.2016 10:30</div>
                    <div class="shipping_to"><div>Доставити до: </div>21.01.2016 12:30</div>
                </div>
                <ul class="dish_list col-md-4">
                    <li><a href="#">Борщ з м’ясом х3</a></li>
                    <li><a href="#">Салат олів’є х1</a></li>
                    <li><a href="#">Пюре з яловиченою х2</a></li>
                </ul>
                <div class="cost col-md-3">
                    250грн
                </div>
                <div class="status col-md-2">
                    В дорозі
                </div>
                <div class="delete_position">
                    <i class="fa fa-times"></i>
                </div>
            </li>
            <li class="row cooking">
                <div class="date cols-sm-3 col-md-3">
                    <div class="create_at"><div>Створен: </div>21.01.2016 10:30</div>
                    <div class="shipping_to"><div>Доставити до: </div>21.01.2016 12:30</div>
                </div>
                <ul class="dish_list col-md-4">
                    <li><a href="#">Борщ з м’ясом х3</a></li>
                    <li><a href="#">Салат олів’є х1</a></li>
                    <li><a href="#">Пюре з яловиченою х2</a></li>
                </ul>
                <div class="cost col-md-3">
                    250грн
                </div>
                <div class="status col-md-2">
                    Готується
                </div>
                <div class="delete_position">
                    <i class="fa fa-times"></i>
                </div>
            </li>
            <li class="row canceled">
                <div class="date cols-sm-3 col-md-3">
                    <div class="create_at"><div>Створен: </div>21.01.2016 10:30</div>
                    <div class="shipping_to"><div>Доставити до: </div>21.01.2016 12:30</div>
                </div>
                <ul class="dish_list col-md-4">
                    <li><a href="#">Борщ з м’ясом х3</a></li>
                    <li><a href="#">Салат олів’є х1</a></li>
                    <li><a href="#">Пюре з яловиченою х2</a></li>
                </ul>
                <div class="cost col-md-3">
                    250грн
                </div>
                <div class="status col-md-2">
                    Відмовлено
                </div>
                <div class="delete_position">
                    <i class="fa fa-times"></i>
                </div>
            </li>
            <li class="row processed">
                <div class="date cols-sm-3 col-md-3">
                    <div class="create_at"><div>Створен: </div>21.01.2016 10:30</div>
                    <div class="shipping_to"><div>Доставити до: </div>21.01.2016 12:30</div>
                </div>
                <ul class="dish_list col-md-4">
                    <li><a href="#">Борщ з м’ясом х3</a></li>
                    <li><a href="#">Салат олів’є х1</a></li>
                    <li><a href="#">Пюре з яловиченою х2</a></li>
                </ul>
                <div class="cost col-md-3">
                    250грн
                </div>
                <div class="status col-md-2">
                    Очікує підтвердження
                </div>
                <div class="delete_position">
                    <i class="fa fa-times"></i>
                </div>
            </li>
            <li class="row shipping">
                <div class="date cols-sm-3 col-md-3">
                    <div class="create_at"><div>Створен: </div>21.01.2016 10:30</div>
                    <div class="shipping_to"><div>Доставити до: </div>21.01.2016 12:30</div>
                </div>
                <ul class="dish_list col-md-4">
                    <li><a href="#">Борщ з м’ясом х3</a></li>
                    <li><a href="#">Салат олів’є х1</a></li>
                    <li><a href="#">Пюре з яловиченою х2</a></li>
                </ul>
                <div class="cost col-md-3">
                    250грн
                </div>
                <div class="status col-md-2">
                    В дорозі
                </div>
                <div class="delete_position">
                    <i class="fa fa-times"></i>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}