{% extends('@App/Admin/StaticPage/index.html.twig') %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        Перегляд сторінки
    </li>
{% endblock %}

{% block content %}
    <div class="center"><h4><b>{{ page.title }}</b></h4></div>
    {{ page.text | raw }}
{% endblock %}
