{% extends('@App/Admin/StaticPage/index.html.twig') %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        Перегляд сторінки
    </li>
{% endblock %}

{% block content %}
    {{ page.title }}
    {{ page.text }}
{% endblock %}
